<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/addWpis}" method="post">
    <table>
        <tr>
            <td>Tresc</td>
            <td>
                <input type="text" name="wpisTresc">
            </td>
        </tr>
        <tr>
            <td>Typ</td>
            <td>
                <select type="checkbox" name="wpisTyp">
                    <option th:each="wpisTyp : ${wpisTyp}" th:value="${wpisTyp}" th:text="${wpisTyp}"></option>
                </select>
            </td>
        </tr>


        <tr>
            <td></td>
            <td>
                <input type="submit" name="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>


</body>
</html>